@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

body {
  margin: 0;
  font-family: 'KoHo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder{
  font-family: 'KoHo', sans-serif;
}

button {
  all: unset;
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 3px solid black;
  padding: 2px 7px;
  cursor: pointer;
}

button:active{
  transform: translateY(2px); 
}

